<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Заполните форму чтобы дописать строчку в базу</title>
  <link type="text/css" rel="stylesheet" href="css/global.css" />
  <link type="text/css" rel="stylesheet" href="css/main.css" />
</head>
<body>
<h2>Заполните форму чтобы дописать строчку в базу</h2>
<form action="/addrow" method="post">
  <input type="text" name="id" value="555"/>
  <input type="text" name="name" value="имя"/>
  <input type="text" name="descr" value="описание"/>
  <input type="text" name="picture" value="img"/>
  <input type="text" name="price" value="3000"/>
  <input type="submit"/>
</form>
<div class="jsonFile"><%- parsedJSON %></div>
<p>
  <a href="/">На главную</a>
</p>
</body>
</html>
