<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>API TEST PAGE</title>
<link type="text/css" rel="stylesheet" href="css/global.css" />
<link type="text/css" rel="stylesheet" href="css/main.css" />
<script type="text/javascript" src="js/lib/jquery-core.js"></script>
<script type="text/javascript">
	$(document).ready(function() {
    var host = '127.0.0.1:3000';
		function renderJSON(obj) {
			var keys = [], retValue = "";
			for (var key in obj) {
				if (typeof obj[key] === 'object' && obj[key] != null) {
					retValue += "<div class='tree'>" + key + ": ";
					retValue += renderJSON(obj[key]);
					retValue += "</div>";
				} else {
					retValue += "<div class='tree'>" + key + ": " + obj[key] + "</div>";
				}
				keys.push(key);
			}
			return retValue;
		}
		var showResult = function(result) {
			$('#responseContent').empty().append(renderJSON(result.responseJSON));
		}
		
		$('#' + $('#selectBox select').val()).removeClass('hidden');
		
		$('#selectBox select').change(function() {
			$('.request').addClass('hidden');
			$('#' + $(this).val()).removeClass('hidden');
			$('#responseContent').empty();
		});
				
		$('#registerForm form').submit(function() {
			$.ajax({
				url: host + '/action',
				type: 'POST',
				data: $(this).serialize(),
				success : function(response, textStatus, data) {
					showResult(data);
				},
				error: function(error) {
					showResult(error);
				}
			});			
			return false;
		});
	});
</script>

</head>
<body>
	<h1><%= title %></h1>

	<div id="selectBox">
		<p>Select an API here:</p>
		<select>
			<option value='' selected></option>
			<option value='registerForm'>UserRegister</option>
		</select>
    <a href="/base">Записать файл json в базу</a>
    <a href="/addrow">Дописать строку в базу</a>
    <a href="/read">Прочитать всю базу</a>
	</div>
	<div id="content">
		<div id="requestForm">
			<h3>Request:</h3>
			<div id="requestContent">
				<!--
					Register form
				-->
				<div id="registerForm" class="request hidden">
					<form>
						<div class="row">
							<label>Username <strong>*</strong></label>
							<input type="text" name="name" value="" />
						</div>
						<div class="row">
							<label>Password <strong>*</strong></label>
							<input type="password" name="" />
						</div>
						<div class="row">
							<label>&nbsp;</label>
							<input type="submit" value="Register" class="submitForm" />
						</div>
					</form>
				</div>
            </div>
		</div>
		<div id="responseForm">
			<h3>Response:</h3>
			<div id="responseContent">
			</div>
		</div>
	</div>
</body>
</html>