<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Страница</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css"/>
  <script src="/js/lib/jquery-core.js"></script>
  <script src="/js/lib/underscore.js"></script>
  <script src="/js/lib/backbone.js"></script>
  <script type="text/javascript" src="/js/model.js"></script>
  <script type="text/javascript" src="/js/view.js"></script>
</head>
<body>
<h1>Страница</h1>

</body>
</html>