<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Вот данные с базы:</title>
  <link type="text/css" rel="stylesheet" href="css/global.css" />
  <link type="text/css" rel="stylesheet" href="css/main.css" />
</head>
<body>
<h2>Вот данные с базы:</h2>
<h2> Всего <%- counter %> записей.</h2>
<a class="" href="/">На главную</a>
<div class="jsonFile"><%- parsedJSON %></div>

</body>
</html>
