.row {
	/* overflow: hidden;
	width: 100%; */
	margin-top: 45px;
}
/* body {
	width: 980px;
	margin: 0 auto;
  min-width: 980px;
}
h1 {
	font-size: 4em;
	text-align: center;
}
h2 {
	margin-top: 10px;
}
form, 
form input,
form select,
form textarea {
	font-size: 13px;
}
form input[type="submit"],
.generalButton {
	background: #666;
	border: none;
	cursor: pointer;
	color: #FFF;
	border-radius: 5px;
	width: 150px;
	height: 30px;
}
form textarea {
	width: 300px;
	height: 150px;
}

.generalButton {
	color: #FFFFFF !important;
  display: block;
  height: 25px;
  margin-top: 10px;
  padding-top: 5px;
  text-align: center;
}
.jsonFile {
  font-size: 10px;
  line-height: 1.5;
  font-family: sans-serif;
  margin: 30px 0;
}
.jsonFile a {
  color: olive;
  font-size: 120%;
  line-height: 1.5;
}
.item {
  border: 1px solid #000;
  margin: 20px 0;
  padding: 10px;
}
.item_key {
  font-size: 16px;
  color: olive;
  margin: 0;
  padding: 0;
}
.item_value {
  font-size: 12px;
  font-style: italic;
  margin: 0;
  padding: 0;
}


.row label {
  float: left;
  width: 200px;
  text-align: right;
  margin-right: 10px;
}
.row label strong {
  color: #F00;
}
.row input,
.row select {
  width: 200px;
}
.hidden {
	display: none !important;
}
	
#selectBox {
	overflow: hidden;
	margin-top: 20px;
}
#selectBox p {
  float: left;
  font-size: 1.5em;
}
#selectBox select {
  float: left;
  font-size: 1.5em;
  margin-left: 5px;
}
#selectBox a {
  display: inline-block;
  font-size: 12px;
  margin: 0 10px;
}

#content {
	width: 100%;
	overflow: hidden;
	font-size: 1.3em;
	background: #E5EECC;
	margin-top: 10px;
	min-height: 400px;
}
#requestForm {
  width: 100%;
  margin: 10px;
}
#responseForm {
  width: 100%;
  margin: 10px;
}
#responseContent {
  margin-top: 20px;
  width: 100%;
  font-size: 13px;
}
#responseContent .tree {
  margin: 10px;
  padding: 10px;
  background-color: olive;
  color: #fff;
  font-size: 16px;
}
			

.w50 {width:50px!important;}
.w100 {width:100px!important;}
div.operation > * {float:left;} */